nav {
font-family: 'Space Mono', monospace;
color: #98191b;

padding-left: 30px;
padding-right: 30px;


}

h3 {

font-family: 'Space Mono', monospace;


}

#searchresults {

font-family: 'Inconsolata'. monospace;


}

.jumbotron {

padding-left: 30px;
padding-right: 30px;
font-family: 'Inconsolata'. monospace;

}



.alignleft {
    float: left;
    text-align:left;
    width:40%;
    font-weight: bold;
}
.alignright {
    float: right;
    text-align:right;
    width:60%;
}

@media only screen and (max-width: 675px)  {
.alignleft {
    text-align:center;
    width:100%;
    
}
.alignright {
    text-align:center;
    width:100%;
}


}